@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.woff2") format("woff2");
  font-weight: 400, 500, 600, 700, 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #011224;
  padding-top: 24px;
  color: #FFFFFF;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6.25vw;
  margin-bottom: 130px;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrapper__logo {
  margin-right: 60px;
}
.header__wrapper__logo__image {
  width: 100%;
  aspect-ratio: 1;
}
.header__wrapper__menu__list {
  display: flex;
  font-size: 16px;
  column-gap: 40px;
  line-height: 1.21;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.header__wrapper__menu__item__link {
  color: hsla(0, 0%, 100%, 0.7);
}
.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}
.header__actions__applinks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.header__actions__applinks__telegram {
  width: 36px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__actions__applinks__telegram::before {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.header__actions__applinks__telegram::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  left: 48%;
  top: 53%;
  translate: -50% -50%;
  background: url("../icons/tg.svg") center/contain no-repeat;
}
.header__actions__applinks__whatsapp {
  width: 36px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__actions__applinks__whatsapp::before {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsappback.svg") center/contain no-repeat;
}
.header__actions__applinks__whatsapp::after {
  content: "";
  position: absolute;
  width: 10px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsapp.svg") center/contain no-repeat;
}
.header__actions__phone {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 1;
}
.header__actions__burger {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 233px;
}
.content__start__wrapper {
  width: 714px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content__start__wrapper__title {
  font-size: 64px;
  line-height: 1.2;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.content__start__wrapper__description {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 46px;
  width: 663px;
}
.content__start__wrapper__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 70px;
  padding: 24px 40px;
  border-radius: 60px;
  background: linear-gradient(76deg, #0D2F68, #D51117);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.content__start__background__header {
  position: absolute;
  top: 40px;
  left: 0;
  color: linear-gradient(transparent, #011224);
  fill: linear-gradient(transparent, #011224);
  z-index: -10;
}
.content__start__background__car {
  position: absolute;
  top: 40px;
  left: 50%;
  height: 825px;
  translate: -50%;
  z-index: -100;
}
.content__start__background__car__opacity {
  position: absolute;
  top: 40px;
  left: 50%;
  height: 825px;
  translate: -50%;
  z-index: -30;
}
.content__start__background__smilestars {
  position: absolute;
  top: 137px;
  left: 65vw;
  z-index: -40;
}
.content__start__background__smoke {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100vw;
  height: 95vh;
  z-index: -30;
}
.content__start__background__footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: linear-gradient(transparent, #011224);
  fill: linear-gradient(transparent, #011224);
  z-index: -20;
}
.content__short {
  margin-inline: 6.5vw;
  display: flex;
  height: 239px;
  color: white;
  padding-bottom: 40px;
  border-bottom: 1px solid hsl(212, 21%, 26%);
  width: 87vw;
}
.content__short__list {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-right: auto;
  column-gap: 40px;
}
.content__short__item:not(:last-child) h3 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 48px;
  font-family: "Bebas Neue", sans-serif;
  padding-right: 40px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.16);
  margin: 0;
}
.content__short__item:not(:last-child) h3 span {
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.content__short__item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  font-size: 48px;
  font-family: "Bebas Neue", sans-serif;
}
.content__short__item:last-child h3 {
  margin: 0;
}
.content__short__item:last-child span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
}
.content__short__economy {
  width: 325px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 16px;
  border-radius: 28px;
  background-color: #081E36;
  margin-bottom: auto;
}
.content__short__economy__percent {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.content__short__economy__percent span {
  font-size: 48px;
  font-weight: 900;
  color: #FD554B;
}
.content__short__economy__link {
  padding: 12px 24px;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  background: linear-gradient(81deg, #0D2F68, #D51117);
  border-radius: 60px;
}
.content__popular {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  padding-inline: 6.25vw;
}
.content__popular__list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.content__popular__item {
  display: flex;
  padding-block: 40px;
  overflow: hidden;
  position: relative;
}
.content__popular__item__title {
  position: absolute;
  top: 40px;
  left: 671px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: calc(87vw - 641px - 30px);
  height: 80px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
}
.content__popular__item__title__country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 40px;
  color: hsla(0, 0%, 100%, 0.3);
}
.content__popular__item__title__country__red {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  color: #FD554B;
}
.content__popular__item__title__sliders {
  display: flex;
}
.content__popular__item__title__sliders__button {
  padding: 12px;
}
.content__popular__item:nth-child(even) {
  flex-direction: row-reverse;
}
.content__popular__item:nth-child(even) .content__popular__item__title {
  left: 0 !important;
}
.content__popular__item__carlist {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 16px;
}
.content__popular__item__caritem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 338px;
  height: auto;
  border-radius: 24px;
  padding: 16px 8px;
  position: relative;
  row-gap: 16px;
}
.content__popular__item__caritem__main {
  padding-inline: 8px;
  line-height: 1;
}
.content__popular__item__caritem__main__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  margin-bottom: 8px;
}
.content__popular__item__caritem__main__description {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.5);
}
.content__popular__item__caritem__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}
.content__popular__item__caritem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
}
.content__popular__item__caritem__wrapper__price {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
}
.content__popular__item__caritem__wrapper__link {
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 12px 16px;
  backdrop-filter: blur(34px);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.content__popular__item__caritem__wrapper__link:hover {
  background-color: #D51117;
}
.content__popular__item__caritem::before {
  content: "";
  width: 305px;
  height: 74px;
  position: absolute;
  bottom: -9px;
  left: 50%;
  translate: -50%;
  background: url("../icons/undercars.svg") no-repeat;
  z-index: -110;
}
.content__popular__item__caritem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-color: #081E36;
  z-index: -100;
}
.content__popular__item__caritem.iscurrent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 641px;
  height: 433px;
  border-radius: 28px;
  margin-right: auto;
  padding: 28px;
  position: relative;
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__main__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  margin-bottom: 8px;
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__main__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.5);
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__image {
  position: absolute;
  top: 0;
  right: -18px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__wrapper__price {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__wrapper__link {
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 12px 16px;
  backdrop-filter: blur(34px);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.content__popular__item__caritem.iscurrent .content__popular__item__caritem__wrapper__link:hover {
  background-color: #D51117;
}
.content__popular__item__caritem.iscurrent::before {
  content: "";
  width: 582px;
  height: 74px;
  position: absolute;
  bottom: -9px;
  left: 50%;
  translate: -50%;
  background: url("../icons/undercarsmain.svg") no-repeat;
  z-index: -110;
}
.content__popular__item__caritem.iscurrent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-color: #0C182B;
  z-index: -100;
}
.content__companies {
  padding-block: 12px;
  overflow: hidden;
  opacity: 0.5;
  margin-bottom: 40px;
  width: 100%;
}
.content__companies__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
}
.content__companies__item {
  min-width: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__stages {
  margin-inline: 6.25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  padding-block: 80px;
  position: relative;
  width: 73vw;
  max-width: 1400px;
  height: 705px;
  margin-bottom: 179px;
}
.content__stages__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content__stages__title__name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  margin-bottom: 8px;
  line-height: 1;
}
.content__stages__title__name__red {
  color: #FD554B;
}
.content__stages__title__description {
  width: 504px;
  color: hsla(0, 0%, 100%, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.content__stages__images {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 26px;
  z-index: -100;
}
.content__stages__images__car {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}
.content__stages__images__gear {
  position: absolute;
  top: -154px;
  left: 55px;
  font-size: 690px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
  filter: blur(14px);
  z-index: -90;
}
.content__stages__images__caropacity {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -70;
}
.content__stages__images__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -60;
  background-color: rgba(7, 25, 46, 0.9);
}
.content__stages__images__smoke {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -50;
}
.content__stages__stage {
  width: 100%;
  padding-inline: 80px;
  overflow: hidden;
}
.content__stages__stage__progress {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 40px;
}
.content__stages__stage__progress__item {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 38px;
  position: relative;
  min-width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__stages__stage__progress__item__red {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}
.content__stages__stage__progress__item:last-child img {
  width: 20vw;
  max-width: 100vw;
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}
.content__stages__stage__list {
  display: flex;
  column-gap: 57px;
  color: hsla(0, 0%, 100%, 0.7);
}
.content__stages__stage__item {
  width: 257px;
}
.content__stages__stage__item:first-child {
  color: #FFFFFF;
}
.content__stages__stage__item__title {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
  font-size: 32px;
  margin-bottom: 11px;
}
.content__stages__stage__item__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.content__stages__consult {
  display: flex;
  column-gap: 12px;
}
.content__stages__consult__getconsult {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
  padding: 24px 40px;
  border-radius: 60px;
  background: linear-gradient(77deg, #0D2F68, #D51117);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}
.content__stages__consult__whatsapp {
  width: 70px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content__stages__consult__whatsapp::before {
  content: "";
  position: absolute;
  width: 28px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsappback.svg") center/contain no-repeat;
}
.content__stages__consult__whatsapp::after {
  content: "";
  position: absolute;
  width: 14px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsapp.svg") center/contain no-repeat;
}
.content__stages__economy {
  width: 234px;
  height: 57px;
  position: absolute;
  bottom: -62px;
  left: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.content__stages__economy__title {
  font-size: 24px;
  line-height: 1.5;
}
.content__stages__economy__title__red {
  font-weight: 900;
  font-size: 32px;
}
.content__stages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-color: #07192E;
  z-index: -110;
}
.content__stages::after {
  content: "";
  position: absolute;
  bottom: -99px;
  left: 50%;
  translate: -50% 0;
  width: clamp(200px, 67.7vw, 1300px);
  min-height: 219px;
  background: url("../img/stages/redrect.svg") no-repeat;
  background-size: cover;
  z-index: -120;
  border-radius: 38px;
}
.content__about {
  width: 100%;
  padding-inline: 6.25vw;
  line-height: 1;
  margin-bottom: 100px;
  position: relative;
}
.content__about__title__name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  margin-bottom: 16px;
}
.content__about__title__photo {
  position: absolute;
  top: 0;
  right: 6.25vw;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content__about__title__photo__image {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 28px;
  width: 35vw;
  height: auto;
  box-shadow: 0px 24px 100px 0 hsla(358, 85%, 45%, 0.4);
}
.content__about__title__photo::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 136px;
  right: 0;
  width: 35vw;
  height: auto;
  background: url("../icons/about.svg") no-repeat;
  z-index: -30;
}
.content__about__title__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 46vw;
  line-height: 28px;
  margin-bottom: 40px;
}
.content__about__title__consult {
  display: flex;
  column-gap: 12px;
  margin-bottom: 87px;
}
.content__about__title__consult__getconsult {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
  padding: 24px 40px;
  border-radius: 60px;
  background: linear-gradient(77deg, #0D2F68, #D51117);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}
.content__about__title__consult__whatsapp {
  width: 70px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content__about__title__consult__whatsapp::before {
  content: "";
  position: absolute;
  width: 28px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsappback.svg") center/contain no-repeat;
}
.content__about__title__consult__whatsapp::after {
  content: "";
  position: absolute;
  width: 14px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsapp.svg") center/contain no-repeat;
}
.content__about__list {
  padding-top: 32px;
  display: flex;
  align-items: end;
  column-gap: auto;
  width: 100%;
  height: 104px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.16);
}
.content__about__item {
  display: flex;
  justify-content: center;
  align-items: top;
  column-gap: 24px;
  height: 100%;
}
.content__about__item h3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.content__about__item span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.content__about__item:nth-child(1), .content__about__item:nth-child(2) {
  padding-right: 40px;
  color: #FD554B;
  flex-direction: column;
  row-gap: 4px;
}
.content__about__item:nth-child(1) h3, .content__about__item:nth-child(2) h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  height: 0.75em;
}
.content__about__item:nth-child(1) span, .content__about__item:nth-child(2) span {
  padding-top: 4px;
  color: hsla(0, 0%, 100%, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.content__about__item:not(:last-child) {
  margin-right: auto;
}
.content__loyalty {
  position: relative;
  width: 100%;
  height: 88px;
  overflow: hidden;
  margin-bottom: 60px;
}
.content__loyalty__redlist, .content__loyalty__list {
  display: flex;
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 130vw;
}
.content__loyalty__reditem, .content__loyalty__item {
  padding: 8px 16px;
  width: auto;
  text-wrap: nowrap;
  position: relative;
}
.content__loyalty__reditem::after, .content__loyalty__item::after {
  content: "";
  width: 1px;
  height: 19px;
  position: absolute;
  top: 50%;
  right: -1px;
  translate: 0 -50%;
  background: hsla(0, 0%, 100%, 0.4);
}
.content__loyalty__redlist {
  background-color: #D51117;
  left: -100px;
}
.content__loyalty__list {
  background-color: #081E36;
  left: -190px;
  top: 48px;
}
.content__reviews {
  width: 100%;
  margin-block: 40px 100px;
  padding-inline: 6.25vw;
}
.content__reviews__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.content__reviews__wrapper__title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
}
.content__reviews__wrapper__title__star {
  font-size: 48px;
}
.content__reviews__wrapper__links {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 24px;
}
.content__reviews__wrapper__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.content__reviews__wrapper__link a {
  color: hsla(0, 0%, 100%, 0.5);
  position: relative;
  padding-right: 24px;
}
.content__reviews__wrapper__link a::after {
  content: "";
  width: 16px;
  aspect-ratio: 1;
  position: absolute;
  right: -8px;
  top: 50%;
  translate: 0 -25%;
  background: url("../img/reviews/link.svg") no-repeat;
  background-size: auto;
}
.content__reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.content__reviews__item {
  flex: 0 0 24%;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  column-gap: 16px;
  background-color: #081E36;
  border-radius: 16px;
}
.content__reviews__item__photo {
  width: 50px;
  height: 50px;
}
.content__reviews__item__fullname {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  height: 100%;
  margin-right: auto;
}
.content__reviews__item__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: fit-content;
  height: calc(100% - 6px);
}
.content__reviews__item__info__stars {
  display: flex;
  column-gap: 4px;
}
.content__reviews__item__info__date {
  display: flex;
  text-wrap: nowrap;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.5);
  line-height: 20px;
}
.content__vkclips {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 60px 100px;
  margin-bottom: 80px;
  padding-inline: 6.25vw;
}
.content__vkclips__inner {
  width: 100vw;
  overflow: hidden;
}
.content__vkclips__inner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}
.content__vkclips__inner__wrapper__header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  height: 70px;
}
.content__vkclips__inner__wrapper__header__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  height: 61px;
  line-height: 1;
}
.content__vkclips__inner__wrapper__vksub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  column-gap: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, 0.1);
  height: 48px;
}
.content__vkclips__inner__wrapper__vksub__title {
  height: auto;
}
.content__vkclips__inner__fix {
  width: 100%;
  height: 264.5px;
}
.content__vkclips__inner__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
}
.content__vkclips__inner__item {
  min-width: 150px;
}
.content__vkclips__inner__item img {
  width: 150px;
  height: 264.5px;
}
.content__vkclips::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url("../icons/vkclipsback.svg") no-repeat;
  background-size: contain;
  left: 50%;
  translate: -50%;
  top: 20px;
  z-index: -100;
}
.content__subscribe {
  width: calc(100% - 12.5vw);
  max-width: 1400px;
  border-radius: 28px;
  height: 476px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 140px;
  position: relative;
  margin-bottom: 144px;
  padding-inline: 6.25vw;
}
.content__subscribe__absolute__img1 {
  position: absolute;
  left: 232px;
  bottom: 65px;
  height: 100%;
  transform: rotate(17.13deg);
  border-radius: 20px;
  z-index: -85;
}
.content__subscribe__absolute__img1__image {
  opacity: 0.7;
}
.content__subscribe__absolute__img1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: #081E36;
  border-radius: 20px;
  z-index: -90;
}
.content__subscribe__absolute__img1::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 7px;
  opacity: 1;
  width: calc(100% + 3px);
  height: calc(100% + 0px);
  background-color: #011224;
  border-radius: 20px;
  box-shadow: inset -2px -10px 20px 0 hsla(220, 46%, 70%, 0.25), inset 10px 2px 20px 0 rgb(8, 30, 54);
  z-index: -95;
}
.content__subscribe__absolute__img2 {
  position: absolute;
  left: 137px;
  bottom: 42px;
  height: 513px;
  border-radius: 20px;
  z-index: -70;
}
.content__subscribe__absolute__img2__image1, .content__subscribe__absolute__img2__image2 {
  opacity: 0.4;
}
.content__subscribe__absolute__img2__image2 {
  position: absolute;
  top: 202px;
}
.content__subscribe__absolute__img2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: #081E36;
  border-radius: 20px;
  z-index: -75;
}
.content__subscribe__absolute__img2::after {
  content: "";
  position: absolute;
  left: -9px;
  bottom: -9px;
  opacity: 1;
  width: calc(100% + 18px);
  height: calc(100% + 18px);
  background-color: #011224;
  border-radius: 20px;
  box-shadow: 40px 60px 80px 0px hsla(235, 35%, 37%, 0.25), inset -2px -10px 20px 0px hsla(220, 46%, 70%, 0.25), inset 10px 2px 20px 0px rgb(8, 30, 54);
  z-index: -80;
}
.content__subscribe__absolute__img3 {
  position: absolute;
  left: 116px;
  bottom: 20px;
  height: 100%;
  border-radius: 12px;
  z-index: -65;
}
.content__subscribe__absolute__img3__image {
  stroke: 1px hsla(0, 0%, 100%, 0.12);
  box-shadow: 0px 4px 100px 0 hsla(358, 85%, 45%, 0.4);
  border-radius: 12px;
}
.content__subscribe__absolute__img4 {
  position: absolute;
  left: 333px;
  bottom: 130px;
  font-family: Roboto, sans-serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 1;
  transform: rotate(15deg);
  z-index: -60;
}
.content__subscribe__absolute__img5 {
  position: absolute;
  left: 95px;
  top: -39px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  padding: 6px 12px;
  z-index: -55;
}
.content__subscribe__absolute__img5__title__name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 7px;
}
.content__subscribe__absolute__img5__title__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.content__subscribe__absolute__img5::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 20px;
  background: linear-gradient(76deg, #D51117, #031323);
  z-index: -57;
}
.content__subscribe__absolute__img5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A2939;
  border-radius: 20px;
  z-index: -56;
}
.content__subscribe__title {
  width: 37vw;
  margin-left: auto;
}
.content__subscribe__title__name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  line-height: 1;
  margin-bottom: 32px;
}
.content__subscribe__title__name__red {
  color: #FD554B;
}
.content__subscribe__title__links {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.content__subscribe__title__link a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
  width: auto;
  height: 100%;
}
.content__subscribe__title__link__cube {
  width: 44px;
  height: 44px;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__subscribe__title__link__name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  position: relative;
}
.content__subscribe__title__link__name::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: 8px;
  top: 50%;
  translate: 0 -25%;
  background: url("../img/reviews/link.svg") no-repeat;
  background-size: auto;
}
.content__subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #081E36;
  border-radius: 28px;
  z-index: -100;
}
.content__subscribe::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -24px;
  translate: -50% 0;
  width: clamp(200px, 67.7vw, 1300px);
  height: 87px;
  background: url("../icons/contacts/back.svg") no-repeat;
  background-size: cover;
  border-radius: 28px;
  z-index: -110;
}
.content__contacts {
  width: 100%;
  padding-inline: 6.25vw;
  padding-block: 30px 119px;
  display: flex;
}
.content__contacts__wrapper {
  margin-right: auto;
  width: 420px;
}
.content__contacts__wrapper__title {
  margin-bottom: 60px;
}
.content__contacts__wrapper__title__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  line-height: 1;
  margin-bottom: 12px;
}
.content__contacts__wrapper__title__name__emoji {
  font-size: 60px;
}
.content__contacts__wrapper__title__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.5);
}
.content__contacts__wrapper__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.content__contacts__wrapper__item {
  font-family: "Inter", sans-serif;
  line-height: 1;
  letter-spacing: -4%;
}
.content__contacts__wrapper__item__mark {
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.5);
  margin-bottom: 8px;
}
.content__contacts__wrapper__item__data {
  font-weight: 500;
  font-size: 18px;
}
.content__contacts__form {
  padding: 40px;
  width: 640px;
  height: 448px;
  background-color: #081E36;
  border-radius: 28px;
  font-family: "Inter", sans-serif;
  line-height: 1;
}
.content__contacts__form input, .content__contacts__form textarea {
  padding: 16px;
  background-color: #20344A;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-radius: 32px;
  margin-top: 8px;
}
.content__contacts__form label {
  font-size: 14px;
}
.content__contacts__form__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.content__contacts__form__wrapper input {
  width: 100%;
}
.content__contacts__form__wrapper__name, .content__contacts__form__wrapper__tel {
  flex: 0 0 48%;
}
.content__contacts__form__wrapper__tel input {
  color: #FFF;
}
.content__contacts__form__text {
  margin-bottom: 24px;
}
.content__contacts__form__text textarea {
  width: 100%;
  height: 101px;
  resize: none;
  border-radius: 16px;
}
.content__contacts__form__text textarea:focus {
  outline: none;
}
.content__contacts__form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.content__contacts__form__checkbox__red {
  color: #FD554B;
}
.content__contacts__form__checkbox input {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
}
.content__contacts__form__button {
  width: 100%;
  height: 70px;
  background-color: #20344A;
  border-radius: 60px;
  color: #FFF;
  font-weight: 600;
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  background-color: #081E36;
  padding-top: 40px;
  padding-inline: 6.25vw;
  width: 100%;
}
.footer__wrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__wrapper__links {
  display: flex;
  column-gap: 60px;
}
.footer__wrapper__links__link {
  height: 76px;
}
.footer__wrapper__links__link img {
  width: 79px;
}
.footer__wrapper__links__list {
  display: flex;
  column-gap: 80px;
}
.footer__wrapper__links__item__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 12px;
}
.footer__wrapper__links__item__innerlist {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__wrapper__links__item__inneritem {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.footer__wrapper__links__item__inneritem a {
  color: hsla(0, 0%, 100%, 0.5);
}
.footer__wrapper__contacts__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: hsla(0, 0%, 100%, 0.5);
  margin-bottom: 12px;
}
.footer__wrapper__contacts__tel {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 16px;
}
.footer__wrapper__contacts__soc1als {
  display: flex;
  column-gap: 12px;
}
.footer__wrapper__contacts__soc1al__tg {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__wrapper__contacts__soc1al__tg::before {
  content: "";
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.footer__wrapper__contacts__soc1al__tg::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 11px;
  left: 48%;
  top: 53%;
  translate: -50% -50%;
  background: url("../icons/tg.svg") center/contain no-repeat;
}
.footer__wrapper__contacts__soc1al__whatsapp {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__wrapper__contacts__soc1al__whatsapp::before {
  content: "";
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsappback.svg") center/contain no-repeat;
}
.footer__wrapper__contacts__soc1al__whatsapp::after {
  content: "";
  position: absolute;
  width: 12px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/whatsapp.svg") center/contain no-repeat;
}
.footer__wrapper__contacts__soc1al__vk {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__wrapper__contacts__soc1al__vk::before {
  content: "";
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/footerVKiconback.svg") center/contain no-repeat;
}
.footer__wrapper__contacts__soc1al__vk::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/footerVKicon.svg") center/contain no-repeat;
}
.footer__wrapper__contacts__soc1al__inst {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__wrapper__contacts__soc1al__inst::before {
  content: "";
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/FooterInstBack.svg") center/contain no-repeat;
}
.footer__wrapper__contacts__soc1al__inst::after {
  content: "";
  position: absolute;
  width: 15px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("../icons/FooterInst.svg") center/contain no-repeat;
}
.footer__underwrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 24px;
}
.footer__underwrapper__naming, .footer__underwrapper a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
}

@media (max-width: 1580px) {
  .content__reviews__item {
    flex: 0 0 30%;
  }
}
@media (max-width: 1250px) {
  .content__subscribe {
    width: auto;
    padding-top: 500px;
    margin-bottom: 200px;
    padding-bottom: 590px;
  }
  .content__subscribe__title {
    margin-top: 500px;
  }
}
@media (max-width: 1200px) {
  .content__reviews__item {
    flex: 0 0 40%;
  }
}
@media (max-width: 950px) {
  .content__reviews__item {
    flex: 0 0 100%;
  }
  .content__reviews__item img {
    margin-right: auto;
  }
}